*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: #f0f0f0;
}

table {
    margin-bottom: 20px;
}

table th, td {
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 5px;
    text-align: left;
}